.result-control{
    display: flex;
    align-items: center;
    flex-direction: row;
    min-width: 450px;
    padding: 10px;
    color: $dark-grey;
    vertical-align: middle;
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6px;
    margin-bottom: $base-spacing;

    &:hover{
        transition: .2s;
        border-color: $green;
    }

    img{
        width: 50px;
        border-radius: 50%;
        border:1px solid $green;
    }

    p{
        margin-left: 10px;
        font-weight: 600;;
    }
    a{
        &:hover{
            color: $link-color;
        }
    }
    button {
        margin-left: auto;
        color: $dark-grey;
        background-color: white;
        padding: 3px 10px;
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid rgba(0,0,0,.2);

        &:hover{
            background-color: $grey-lightest;
            transition: .3s;
        }
    }

    .result-control__desc{
        margin-left: auto;
        max-width: 200px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .result-control{
        min-width: 320px ;
    }
}