.result-control{
    display: flex;
    align-items: center;
    flex-direction: row;
    min-width: 400px;
    padding: 10px;
    color: $dark-grey;
    vertical-align: middle;
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6px;
    margin-bottom: $base-spacing;

    &:hover{
        transition: .2s;
        border-color: $green;
    }

    img{
        width: 50px;
        border-radius: 50%;
        border:1px solid $green;
    }

    p{
        margin-left: 10px;
        font-weight: 600;;
    }
}

@media (max-width: $breakpoint-tablet) {
    .result-control{
        min-width: 320px ;
    }
}