*{
  box-sizing: border-box;
}
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: $base-spacing;
    font-family: $heading-font-family;
    font-weight: 600;
    color: $dark-grey;
    width: 100%;
  }
  
  h1 {
    font-size: $h1-font-size;
  }
  
  h2,
  .h2 {
    font-size: $h2-font-size;

  }
  
  h1,
  h2 {
    margin-bottom: calc(#{$base-spacing} * 2);
  }
  
  h3,
  .h3 {
    font-size: $h3-font-size;

    line-height: 23px;
  }
  
  a {
    color: $purple-lightest;
    text-decoration: none;
  
    &:focus {
      outline: none;
    }
    &:hover span {
      transition: all 0.2s ease-out;
      box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 $purple-dark inset;
    }

    span{
      padding-bottom: 5px;
    }
  }

  .blur{
    opacity: .2;
    transition: all .2s;
  }

  .vm--modal{
    padding: 10px;
    overflow-y: auto;
  }

  .info{
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: $base-spacing;
    margin-bottom: $base-spacing;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: $breakpoint-tablet) {
    .info{
        min-width: 320px ;
    }
}